// Utils styles

@import './utils/variables';
@import './utils/reset';
@import './utils/utils';

// Base styles

@import './base/common';
@import './base/card-set';

//  Layouts styles
@import './leyouts/header';
@import './leyouts/hero';
@import './leyouts/benefits';
@import './leyouts/services';
@import './leyouts/customers';
@import './leyouts/team';
@import './leyouts/footer';
@import './leyouts/portfolio';


//  Components styles


@import './components/logo';
@import './components/nav';
@import './components/contacts';
@import './components/btns';
@import './components/backdrop';
@import './components/modal';
@import './components/form';





