/* Footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--accent-theme);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.logo__second-element {
    color: var(--tertiary-txt-color);
}

/* Footer Contacts */

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-item__contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transform-anim);
}

.adress-item__geo-loc {
    font-style: normal;
    line-height: 1.71;
    color: var(--tertiary-txt-color);

    transition: color var(--transform-anim);
}

.adress-item__geo-loc:hover,
.adress-item__geo-loc:focus,
.adress-item__contact:hover,
.adress-item__contact:focus {
    color: var(--accent-color);
}

.footer__social-bloc {
    margin-left: 70px;
}

.social-link-title,
.subscribe {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
}

/* .social-links.footer {
  margin-bottom: 0;
} */

.social-links__link--footer {
    color: #ffffff;
}

.social-links__item--footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.subscribe-bloc {
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--accent-theme);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;

    transition: border-color var(--transform-anim);
}

.subscribe-input:focus {
    border-color: var(--icon-color);
}

.icon-send {
    margin-left: 10px;
    fill: var(--secondary-theme);
}