/* Form */

.form {
    text-align: center;
}

.form div {
    position: relative;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;

    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-color);
}

.form-field:not(:last-child) {
    margin-bottom: 10px;
}

.form-field.comment {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 16px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: var(--main-txt-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--transform-anim);
}

.form-input:focus {
    border-color: var(--accent-color);
}

.form-input:focus+svg {
    fill: var(--accent-color);
}

.form-input.comment {
    height: 120px;
    padding: 12px 16px;
}

.form-input.comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-field div {
    position: relative;
}

.icon-form {
    position: absolute;

    left: 0;
    top: 50%;

    transform: translateY(-50%) translateX(14px);
    fill: var(--secondary-txt-color);

    transition: fill var(--transform-anim);
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;
}

textarea {
    resize: none;
}

.policy {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

.checkbox-icon-off {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;
}

.icon-checkbox {
    display: flex;
    left: 0;

    width: 16px;
    height: 15px;
    outline: 2px solid var(--secondary-txt-color);
    outline-offset: -2px;
    border-radius: 2px;
    border-radius: 2px;
    fill: #ffffff;
    transition: background-color, outline-color var(--transform-anim);
}

.checkbox:checked+.checkbox-icon-off .icon-checkbox {
    background-color: var(--accent-color);
    outline-color: var(--accent-color);
}

.policy:hover .checkbox-icon-off .icon-checkbox {
    outline-color: var(--accent-color);
}

.agreement {
    user-select: none;
}

.agreement-doc {
    text-decoration: underline;
    color: var(--accent-color);
}