.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    border: 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }

    & .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

}

.menu {


    @media screen and (max-width: 767.5px) {
        opacity: 0;
        display: flex;
        position: fixed;
        flex-direction: column;
        z-index: 99;

        transform: translateX(100%);
        transition: transform var(--transform-anim);

        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        padding: 48px 40px;


        background-color: #ffffff;

        &.is-open {
            opacity: 1;
            transform: translateX(0);
        }
    }


    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
    }

    &_social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    &_social-item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &_social-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}