/* Benefits */

.benefits__list {
    
        
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.benefits-item {
     
    @media screen and (min-width: 768px) {
        margin: 15px;
        max-width: calc((100% - 60px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;  
    }
}

.benefits-item__icon {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: var(--secondary-theme);
}

.benefits-item__title {
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--secondary-txt-color);
    
    @media screen and (max-width: 767.5px) {
        text-align: center;    
    }
}