/* Regular customers */

.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    }

.customers-item {
    width: 210px;
    height: 92px;
    margin: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
            // width: 226px;
            margin: 15px;
            width: calc((100% - 90px) / 3);
    
        }
    
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
}

.customers-item__link {
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color var(--transform-anim), border-color var(--transform-anim);
}

.customers-item__link:hover,
.customers-item__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.customers-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: var(--icon-color);
}

.customers-item__icon {
    fill: currentColor;
    transition: color var(--transform-anim), border-color var(--transform-anim);
}