/* header */

.header {
    border-bottom: 1px solid #ececec;
    // background-color: #ffffff;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

.header__container {
        display: flex;
        align-items: center;
        


        @media screen and (min-width: 480px) {
                width: 480px;
        
            }
        
            @media screen and (min-width: 768px) {
                width: 768px;
        
            }
        
            @media screen and (min-width: 1200px) {
                width: 1200px;
        
            }
    }
}