/* Services */

.services-section {
    
    display: none;
   
    
    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 0;
    }
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    position: relative;
    display: block;
}

.services-item:not(:last-child) {
    margin-right: 30px;
}

.services-item__text {
    display: flex;
    position: absolute;
    z-index: 4;

    width: 100%;
    height: 70px;
    bottom: 0;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}