/* reset */

li {
  list-style: none;
}
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
p {

    margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

